<footer class="navbar fixed-bottom navbar-full" style="background-color: #000; display: none">
    <div class="row">
        <div class="col-12 col-md">
            <div class="fa fa-3x fa-cube"></div>
        </div>
        <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">

            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Support</h5>
            <ul class="list-unstyled text-small">

            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">

            </ul>
        </div>


    </div>
    <div class="inner float-right">
        <p class="d-block m-1">Copyright &copy; 2018 <a
                    href="https://vaikzs.github.io">Vaikunth.</a></p>
    </div>
</footer>