<title><%= title %></title>
<!--Removing Favicon-->
<link rel="shortcut icon" href="">

<!--Montserrat Font-->
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Montserrat">


<!--Font Awesome-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

<!--Bootstrap Framework 4-->
<link rel="stylesheet" href="/stylesheets/bootstrap.css">

<!--Custom stylesheets-->
<link rel='stylesheet' href='/stylesheets/style.css'/>
<link rel='stylesheet' href='/stylesheets/customcover.css'/>