<header class="masthead fixed-top justify-content-between ">
    <div class="inner">
        <!--<h3 class="masthead-brand">AMC Theatres</h3>-->
        <nav class="nav nav-masthead row d-sm-flex text-uppercase">
            <h3 class="nav-link active col" href="#">In theatres</h3>
            <h3 class="nav-link col" href="#">Coming soon</h3>
            <h3 class="nav-link col" href="#">My reminders</h3>
        </nav>
    </div>
</header>
