<!DOCTYPE html>
<html lang="en">
<head>
    <% include partitions/head.ejs %>
</head>
<body class="pl-0 pr-0">
<div class="cc-window text-white d-none">
    <ul class="container list-group text-center">
        <a href="#" class="list-group-item list-group-item-action text-primary">Remind me later</a>
        <a href="#" class="list-group-item list-group-item-action text-primary no-thanks">No Thanks</a>
        <a href="#" class="list-group-item list-group-item-action text-primary">Cancel</a>
    </ul>
</div>
<div class="d-flex flex-column flex-sm-nowrap">
    <% include partitions/header.ejs %>
    <div class="main-container row ">
        <div class="col-12 mt-4">
            <div class="card fade show p-0  order-0" style="border-width:5px;border-color: red;">
                <img class="card-img" src="/images/AMC.jpg" alt="">
                <div class="card-img-overlay">
                    <button type="button" class="card-title close float-right">
                        <h1 aria-hidden="true" class="close-popup fa text-white fa-1x fa-close"></h1>
                    </button>
                    <div style="margin-top:35%;margin-left:11%;">
                        <button type="button"
                                class="btn btn-lg card-title border-light border-0 bg-light"
                                style=" border-radius : 25px; font-weight: 800">
                            <h3 class="">Join Now</h3>
                        </button>
                        <h5 class="card-text text-primary" style="margin-top: 1%;margin-left:1%">Learn
                            more</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class=" p-0 m-0 row d-flex flex-row">
            <div class="row d-flex flex-row">
                <div class="card p-0 col bg-dark text-white">
                    <img class="card-img img-fluid" src="/images/image3.jpg"
                         alt="Crunch, Munch, and Sip">
                    <div class="card-img-overlay">
                        <h4 class="card-title">Crunch, Munch, and Sip</h4>

                    </div>
                </div>


                <div class="card p-0 col  bg-dark text-white">
                    <img class="card-img" src="/images/image2.jpg"
                         alt="Five dollar popcorn">
                    <div class="card-img-overlay">
                        <h4 class="card-title text-muted">Five dollar popcorn</h4>

                    </div>
                </div>
            </div>
            <div class="row d-flex flex-row">
                <div class="card p-0 col  bg-dark text-white">
                    <img class="card-img"
                         src="/images/image3.jpg"
                         alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-text">
                            Intermission is never boring..
                        </h4>


                    </div>
                </div>

                <div class="card p-0 col bg-dark text-white">
                    <img class="card-img"
                         src="/images/image4.jpg"
                         alt="Card image">
                    <div class="card-img-overlay">
                        <p class="card-text">
                            Popcorn
                        </p>


                    </div>
                </div>
            </div>
            <div class="row d-flex flex-column">
                <div class="card col p-0  bg-dark text-white">
                    <img class="card-img"
                         src="https://amc-theatres-res.cloudinary.com/image/upload/f_auto,fl_lossy,q_auto,w_321/v1523560799/amc-cdn/general/img/MG_1051_IFeelPretty_MFD_1200x856.jpg"
                         alt="Card image">
                    <div class="card-img-overlay">
                        <p class="card-text"></p>

                    </div>
                </div>
                <div class="card col p-0 bg-dark text-white">
                    <img class="card-img"
                         src="/images/image5.jpg"
                         alt="Card image">
                    <div class="card-img-overlay">
                        <p class="card-text"></p>

                    </div>
                </div>
            </div>
        </div>


    </div>



</div>
<% include partitions/footer.ejs%>
<% include partitions/scripts.ejs %>

</body>
</html>
