<!DOCTYPE html>
<html lang="en">
<head>
    <% include partitions/head.ejs %>
</head>
<body class="pl-0 pr-0">
<% include partitions/header.ejs %>





<% include partitions/footer.ejs%>
<% include partitions/scripts.ejs %>
</body>